<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>thymeleaf 5</title>
</head>
<body>
    <h1> Thymeleaf th:href 테스트 </h1>
    <div>
        <a th:href="@{/thymeleaf/ex01}"> 예제1 페이지 상대경로 </a>
    </div>
    <div>
        <a th:href="@{https://www.thymeleaf.org/}"> 타임리프 페이지 절대경로 </a>
    </div>
    <div>
        <a th:href="@{/thymeleaf/ex06(param1 = '파라미터 232323데이터1', param2 = '파라미터 데213123213이터2')}"> 파라미터 전달 상대경로 </a>
    </div>


</body>
</html>